<section class="section" id="about-us">
  <div class="about-us container">
    <div class="about-us__image-block">
      <ul class="about-us-img-list">
        <li class="about-us-img-list__item">
          <picture>
            <source
              srcset="
                ../images/about-us-1-desktop-270.webp 270w,
                ../images/about-us-1-desktop-540.webp 540w
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/about-us-1-tablet-330.webp 330w,
                ../images/about-us-1-tablet-660.webp 660w
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/about-us-1-desktop-270.jpg 270w,
                ../images/about-us-1-desktop-540.jpg 540w
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/about-us-1-tablet-330.jpg 330w,
                ../images/about-us-1-tablet-660.jpg 660w
              "
              media="(min-width: 768px)"
            />
            <img
              class="about-us-img-list__image"
              src="../images/about-us-1-tablet-330.jpg"
              alt="picture with a barber"
              sizes="(min-width: 1280px) 25vw, 45vw"
            />
          </picture>
        </li>
        <li class="about-us-img-list__item">
          <picture>
            <source
              srcset="
                ../images/about-us-2-desktop-270.webp 270w,
                ../images/about-us-2-desktop-540.webp 540w
              "
              media="(min-width: 1280px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/about-us-2-tablet-330.webp 330w,
                ../images/about-us-2-tablet-660.webp 660w
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/about-us-2-desktop-270.jpg 270w,
                ../images/about-us-2-desktop-540.jpg 540w
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ../images/about-us-2-tablet-330.jpg 330w,
                ../images/about-us-2-tablet-660.jpg 660w
              "
              media="(min-width: 768px)"
            />
            <img
              class="about-us-img-list__image"
              src="../images/about-us-2-tablet-330.jpg"
              alt="picture with a barber"
              sizes="(min-width: 1280px) 25vw, 45vw"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="about-us__text-block">
      <p class="about-us__description">о нас</p>
      <h2 class="about-us__title">
        Лучший Барбершоп<br />
        твоего города
      </h2>
      <p class="about-us__call">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="about-us__text">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <a href="#appointment" class="about-us__online online-appointment"
        >онлайн-запись</a
      >
    </div>
  </div>
</section>
