<footer class="page-footer">
  <!-- online form -->
  <div class="online-form section">
    <div class="container">
      <h2 class="online-form__title">Онлайн-запись</h2>
      <form class="online-form__form form">
        <ul class="form-data form__form-data">
          <li class="form-data__item">
            <label class="form-field">
              <input
                class="form-field__input"
                type="text"
                name="name"
                placeholder="Имя*"
              />
            </label>
          </li>
          <li class="form-data__item">
            <label class="form-field">
              <input
                class="form-field__input"
                type="tel"
                name="tel"
                placeholder="Телефон*"
              />
            </label>
          </li>
          <li class="form-data__item">
            <label class="form-field">
              <textarea
                class="form-field__input form-field__input--comment"
                name="comment"
                placeholder="Сообщение"
                rows="3"
              ></textarea>
            </label>
          </li>
        </ul>
        <button class="form__button" type="submit">отправить</button>
      </form>
    </div>
  </div>

  <!-- contacts -->
  <div class="contacts section">
    <div class="container">
      <h2 class="contacts__title">Контакты</h2>
      <div class="contacts__wrapper">
        <ul class="address">
          <li class="address__item">
            <a href="" class="address__link">
              <svg class="address__icon" width="24" height="24">
                <use
                  href="../images/svg-sprite.svg#icon-contacts-location"
                ></use>
              </svg>
              ул. Васильковая, 7А, Киев, 08132
            </a>
          </li>
          <li class="address__item">
            <a href="tel:+38 044 111 11 11" class="address__link">
              <svg class="address__icon" width="24" height="24">
                <use href="../images/svg-sprite.svg#icon-contacts-tel"></use>
              </svg>
              +38 044 111 11 11
            </a>
          </li>
          <li class="address__item">
            <a
              href="mailto:barbershop@email.com"
              class="address__link address__link--underlined"
            >
              <svg class="address__icon" width="24" height="24">
                <use href="../images/svg-sprite.svg#icon-contacts-mail"></use>
              </svg>
              barbershop@email.com
            </a>
          </li>
        </ul>
        <!-- working hours -->
        <div class="working-hours">
          <p class="working-hours__description">время работы</p>
          <p class="working-hours__data">Ежедневно с 9:00 до 22:00</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- socialmedia -->
<div class="footer-socialmedia">
  <div class="container footer-socialmedia__wrapper">
    <ul class="social-list footer-socialmedia__list">
      <li class="social-list__item">
        <a
          href=""
          class="social-list__link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ссылка на Инстаграм"
          >Instagram</a
        >
      </li>
      <li class="social-list__item">
        <a
          href=""
          class="social-list__link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Ссылка на Ютьюб"
          >Youtube</a
        >
      </li>
    </ul>
    <p class="footer-socialmedia__copyright copyright">
      <svg class="copyright__icon" width="12" height="12">
        <use href="../images/svg-sprite.svg#copyright"></use>
      </svg>
      pet-project
    </p>
  </div>
</div>
