<section class="section">
  <div class="our-gallery container">
    <div class="our-gallery__description-wrapper">
      <p class="our-gallery__description">
        На латинском языке “барба” означает “борода”
      </p>
    </div>
    <ul class="gallery our-gallery__gallery">
      <!-- item 1 -->
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-1-mobile-418.webp 418w,
              ./images/gallery-1-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-1-mobile-418.jpg 418w,
              ./images/gallery-1-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-1-mobile-418.jpg"
            alt="gallery image"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
      </li>
      <!-- item 2 -->
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-2-mobile-418.webp 418w,
              ./images/gallery-2-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-2-mobile-418.jpg 418w,
              ./images/gallery-2-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-2-mobile-418.jpg"
            alt="gallery image"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
      </li>
      <!-- item 3 -->
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-3-mobile-418.webp 418w,
              ./images/gallery-3-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-3-mobile-418.jpg 418w,
              ./images/gallery-3-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-3-mobile-418.jpg"
            alt="gallery image"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
      </li>
      <!-- item 4 -->
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery-4-mobile-418.webp 418w,
              ./images/gallery-4-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/gallery-4-mobile-418.jpg 418w,
              ./images/gallery-4-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="gallery__image"
            src="./images/gallery-4-mobile-418.jpg"
            alt="gallery image"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
