<section class="section">
  <div class="our-gallery container">
    <div class="our-gallery__description-wrapper">
      <p class="our-gallery__description">
        На латинском языке “барба” означает “борода”
      </p>
    </div>
    <ul class="gallery our-gallery__gallery">
      <!-- item 1 -->
      <li class="gallery__item">
        <picture>
          <source srcset="
              src/images/gallery-1-desktop-270.webp 270w,
              src/images/gallery-1-desktop-540.webp 540w
            " media="(min-width: 1280px)" type="image/webp" />
          <source srcset="
              src/images/gallery-1-tablet-330.webp 330w,
              src/images/gallery-1-tablet-660.webp 660w
            " media="(min-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-1-mobile-418.webp 418w,
              src/images/gallery-1-mobile-836.webp 836w
            " media="(max-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-1-desktop-270.jpg 270w,
              src/images/gallery-1-desktop-540.jpg 540w
            " media="(min-width: 1280px)" />
          <source srcset="
              src/images/gallery-1-tablet-330.jpg 330w,
              src/images/gallery-1-tablet-660.jpg 660w
            " media="(min-width: 768px)" />
          <source srcset="
              src/images/gallery-1-mobile-418.jpg 418w,
              src/images/gallery-1-mobile-836.jpg 836w
            " media="(max-width: 768px)" />
          <img loading="lazy" class="gallery__image lazyload" data-src="src/images/gallery-1-mobile-418.jpg"
            alt="gallery image" sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw" />
        </picture>
      </li>
      <!-- item 2 -->
      <li class="gallery__item">
        <picture>
          <source srcset="
              src/images/gallery-2-desktop-270.webp 270w,
              src/images/gallery-2-desktop-540.webp 540w
            " media="(min-width: 1280px)" type="image/webp" />
          <source srcset="
              src/images/gallery-2-tablet-330.webp 330w,
              src/images/gallery-2-tablet-660.webp 660w
            " media="(min-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-2-mobile-418.webp 418w,
              src/images/gallery-2-mobile-836.webp 836w
            " media="(max-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-2-desktop-270.jpg 270w,
              src/images/gallery-2-desktop-540.jpg 540w
            " media="(min-width: 1280px)" />
          <source srcset="
              src/images/gallery-2-tablet-330.jpg 330w,
              src/images/gallery-2-tablet-660.jpg 660w
            " media="(min-width: 768px)" />
          <source srcset="
              src/images/gallery-2-mobile-418.jpg 418w,
              src/images/gallery-2-mobile-836.jpg 836w
            " media="(max-width: 768px)" />
          <img loading="lazy" class="gallery__image lazyload" data-src="src/images/gallery-2-mobile-418.jpg"
            alt="gallery image" sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw" />
        </picture>
      </li>
      <!-- item 3 -->
      <li class="gallery__item">
        <picture>
          <source srcset="
              src/images/gallery-3-desktop-270.webp 270w,
              src/images/gallery-3-desktop-540.webp 540w
            " media="(min-width: 1280px)" type="image/webp" />
          <source srcset="
              src/images/gallery-3-tablet-330.webp 330w,
              src/images/gallery-3-tablet-660.webp 660w
            " media="(min-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-3-mobile-418.webp 418w,
              src/images/gallery-3-mobile-836.webp 836w
            " media="(max-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-3-desktop-270.jpg 270w,
              src/images/gallery-3-desktop-540.jpg 540w
            " media="(min-width: 1280px)" />
          <source srcset="
              src/images/gallery-3-tablet-330.jpg 330w,
              src/images/gallery-3-tablet-660.jpg 660w
            " media="(min-width: 768px)" />
          <source srcset="
              src/images/gallery-3-mobile-418.jpg 418w,
              src/images/gallery-3-mobile-836.jpg 836w
            " media="(max-width: 768px)" />
          <img loading="lazy" class="gallery__image lazyload" data-src="src/images/gallery-3-mobile-418.jpg"
            alt="gallery image" sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw" />
        </picture>
      </li>
      <!-- item 4 -->
      <li class="gallery__item">
        <picture>
          <source srcset="
              src/images/gallery-4-desktop-270.webp 270w,
              src/images/gallery-4-desktop-540.webp 540w
            " media="(min-width: 1280px)" type="image/webp" />
          <source srcset="
              src/images/gallery-4-tablet-330.webp 330w,
              src/images/gallery-4-tablet-660.webp 660w
            " media="(min-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-4-mobile-418.webp 418w,
              src/images/gallery-4-mobile-836.webp 836w
            " media="(max-width: 768px)" type="image/webp" />
          <source srcset="
              src/images/gallery-4-desktop-270.jpg 270w,
              src/images/gallery-4-desktop-540.jpg 540w
            " media="(min-width: 1280px)" />
          <source srcset="
              src/images/gallery-4-tablet-330.jpg 330w,
              src/images/gallery-4-tablet-660.jpg 660w
            " media="(min-width: 768px)" />
          <source srcset="
              src/images/gallery-4-mobile-418.jpg 418w,
              src/images/gallery-4-mobile-836.jpg 836w
            " media="(max-width: 768px)" />
          <img loading="lazy" class="gallery__image lazyload" data-src="src/images/gallery-4-mobile-418.jpg"
            alt="gallery image" sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw" />
        </picture>
      </li>
    </ul>
  </div>
</section>