<header class="page-header">
  <!-- слайдер -->
  <div class="background">
    <div class="slider-wrapper">
      <div class="slider-media">
        <ul class="follow-us">
          <li class="follow-us__item">
            <a class="follow-us__link follow-us__link--decorated" href=""
              >Instagram</a
            >
          </li>
          <li class="follow-us__item">
            <a class="follow-us__link" href="">Youtube</a>
          </li>
        </ul>
      </div>
      <div class="slider">
        <ul class="slider__list">
          <li class="slider__item">
            <picture>
              <source
                srcset="
                  ../images/slider-3-desktop-1125.webp 1125w,
                  ../images/slider-3-desktop-2250.webp 2250w
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../images/slider-3-tablet-609.webp   609w,
                  ../images/slider-3-tablet-1218.webp 1218w
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../images/slider-3-mobile-480.webp 480w,
                  ../images/slider-3-mobile-960.webp 960w
                "
                media="(max-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../images/slider-3-desktop-1125.jpg 1125w,
                  ../images/slider-3-desktop-2250.jpg 2250w
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ../images/slider-3-tablet-609.jpg   609w,
                  ../images/slider-3-tablet-1218.jpg 1218w
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ../images/slider-3-mobile-480.jpg 480w,
                  ../images/slider-3-mobile-960.jpg 960w
                "
                media="(max-width: 768px)"
              />
              <img
                class="slider__image"
                src="../images/slider-3-mobile-480.jpg"
                alt="barber-3"
                sizes="(min-width: 1280px) 90vw, (min-width: 768px) 80vw,  100vw"
              />
            </picture>
          </li>
        </ul>
      </div>
      <form class="slider-radio">
        <div class="slider-radio__wrapper" role="group">
          <ul class="slider-radio__list">
            <li class="slider-radio__item">
              <label class="slider-radio__label" for="first-slider-btn">
                <input
                  type="radio"
                  name="slider-img"
                  value="slider-image1"
                  class="slider-radio__input visuallyhidden slider-radio__first-slide"
                  id="first-slider-btn" />
                <span class="slider-radio__icon"></span
              ></label>
            </li>
            <li class="slider-radio__item">
              <label class="slider-radio__label" for="second-slider-btn">
                <input
                  type="radio"
                  name="slider-img"
                  value="slider-image2"
                  class="slider-radio__input visuallyhidden slider-radio__second-slide"
                  id="second-slider-btn" />
                <span class="slider-radio__icon"></span
              ></label>
            </li>
            <li class="slider-radio__item">
              <label class="slider-radio__label" for="third-slider-btn">
                <input
                  type="radio"
                  name="slider-img"
                  value="slider-image3"
                  class="slider-radio__input visuallyhidden slider-radio__third-slide"
                  id="third-slider-btn" />
                <span class="slider-radio__icon"></span
              ></label>
            </li>
          </ul>
        </div>
      </form>
      <div class="slider-nav">
        <ul class="slider-nav__list">
          <li class="slider-nav__item">
            <button class="slider-nav__btn slider-nav__btn--prev">Назад</button>
          </li>
          <li class="slider-nav__item">
            <button
              class="slider-nav__btn slider-nav__btn--next slider-nav__btn--active"
            >
              Вперед
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- container -->
  <div class="container">
    <div class="header-nav">
      <!-- логотип -->
      <div class="logo" href="">
        <svg width="69" height="56">
          <use href="../images/svg-sprite.svg#icon-logo"></use>
        </svg>
      </div>

      <!-- burger-menu button -->
      <button
        type="button"
        class="burger-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use
            class="burger-closed"
            href="../images/svg-sprite.svg#icon-burger-open"
          ></use>
          <use
            class="burger-opened"
            href="../images/svg-sprite.svg#icon-burger-close"
          ></use>
        </svg>
      </button>
    </div>

    <!-- nav menu (main) -->
    <div class="nav-main">
      <!-- navigation menu -->
      <nav>
        <ul class="nav-menu">
          <li class="nav-menu__item">
            <a class="nav-menu__link" href="">О нас</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" href="">Услуги и цены</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" href="">Мастера</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link" href="">Контакты</a>
          </li>
        </ul>
      </nav>

      <!-- contact-us -->
      <ul class="contact-us">
        <li class="contact-us__item">
          <a class="contact-us__tel" href="tel:+38 044 111 11 11"
            >+38 044 111 11 11</a
          >
        </li>
        <li class="contact-us__item">
          <a class="contact-us__online" href="">онлайн-запись</a>
        </li>
      </ul>
    </div>

    <!-- site heading -->
    <div class="heading">
      <p class="heading__description">A hair salon for men in Kyiv</p>
      <h1 class="heading__main">BarberShop</h1>
      <p class="heading__about-us">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </div>

    <!-- backdrop -->
    <div class="backdrop" data-menu>
      <!-- burger menu -->
      <div class="burger-wrapper">
        <!-- navigation menu (burger) -->
        <nav>
          <ul class="nav-menu">
            <li class="nav-menu__item">
              <a class="nav-menu__link" href="">О нас</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link" href="">Услуги и цены</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link" href="">Мастера</a>
            </li>
            <li class="nav-menu__item">
              <a class="nav-menu__link" href="">Контакты</a>
            </li>
          </ul>
        </nav>

        <!-- contact-us (burger) -->
        <ul class="contact-us">
          <li class="contact-us__item">
            <a class="contact-us__tel" href="tel:+38 044 111 11 11"
              >+38 044 111 11 11</a
            >
          </li>
          <li class="contact-us__item">
            <a class="contact-us__online" href="">онлайн-запись</a>
          </li>
        </ul>

        <!-- follow-us (burger) -->
        <ul class="follow-us">
          <li class="follow-us__item">
            <a class="follow-us__link follow-us__link--decorated" href=""
              >Instagram</a
            >
          </li>
          <li class="follow-us__item">
            <a class="follow-us__link" href="">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
