<section class="section">
  <div class="strengths container">
    <p class="strengths__description">старая традиционная школа</p>
    <h2 class="strengths__title">Почему приходят именно к нам</h2>
    <p class="strengths__text">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
    <ul class="dashboard">
      <li class="dashboard__item">
        <div class="dashboard__number">
          <span class="dashboard__value">600</span
          ><span class="dashboard__sup">+</span>
        </div>
        <p class="dashboard__text">Довольных клиентов в день</p>
      </li>
      <li class="dashboard__item">
        <div class="dashboard__number">
          <span class="dashboard__value">50</span
          ><span class="dashboard__sup">+</span>
        </div>
        <p class="dashboard__text">Наград за отличный сервис</p>
      </li>
      <li class="dashboard__item">
        <div class="dashboard__number">
          <span class="dashboard__value">20</span
          ><span class="dashboard__sup">+</span>
        </div>
        <p class="dashboard__text">Лучших мастеров Киева</p>
      </li>
      <li class="dashboard__item">
        <div class="dashboard__number">
          <span class="dashboard__value">100</span
          ><span class="dashboard__sup">+</span>
        </div>
        <p class="dashboard__text">Подарков постоянным клиентам</p>
      </li>
    </ul>
  </div>
</section>
