<section class="section team-section">
  <div class="team container">
    <p class="team__description">для настоящих ценителей атмосферы</p>
    <h2 class="team__title">Наши мастера</h2>
    <ul class="team-list">
      <!-- team member -->
      <li class="team-list__item">
        <picture>
          <source
            srcset="
              ../images/team-john-tablet-450.webp 450w,
              ../images/team-john-tablet-900.webp 900w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-john-mobile-418.webp 418w,
              ../images/team-john-mobile-836.webp 836w
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-john-tablet-450.jpg 450w,
              ../images/team-john-tablet-900.jpg 900w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/team-john-mobile-418.jpg 418w,
              ../images/team-john-mobile-836.jpg 836w
            "
            media="(max-width: 768px)"
          />
          <img
            class="team-list__image"
            src="../images/team-john-mobile-418.jpg"
            alt="Barber John"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
        <p class="team-list__name">John Smith</p>
        <p class="team-list__position">Extreme Barber</p>
        <ul class="socialmedia team-list__socialmedia">
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Инстаграм"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use
                  href="../images/svg-sprite.svg#icon-social-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Твиттер"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Фейсбук"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Линкедин"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- team member -->
      <li class="team-list__item">
        <picture>
          <source
            srcset="
              ../images/team-michele-tablet-450.webp 450w,
              ../images/team-michele-tablet-900.webp 900w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-michele-mobile-418.webp 418w,
              ../images/team-michele-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-michele-tablet-450.jpg 450w,
              ../images/team-michele-tablet-900.jpg 900w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/team-michele-mobile-418.jpg 418w,
              ../images/team-michele-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="team-list__image"
            src="../images/team-michele-mobile-418.jpg"
            alt="Barber Michele"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
        <p class="team-list__name">Michele Doe</p>
        <p class="team-list__position">Extreme Barber</p>
        <ul class="socialmedia team-list__socialmedia">
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Инстаграм"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use
                  href="../images/svg-sprite.svg#icon-social-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Твиттер"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Фейсбук"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Линкедин"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <!-- team member -->
      <li class="team-list__item">
        <picture>
          <source
            srcset="
              ../images/team-alan-tablet-450.webp 450w,
              ../images/team-alan-tablet-900.webp 900w
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-alan-mobile-418.webp 418w,
              ../images/team-alan-mobile-836.webp 836w
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ../images/team-alan-tablet-450.jpg 450w,
              ../images/team-alan-tablet-900.jpg 900w
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/team-alan-mobile-418.jpg 418w,
              ../images/team-alan-mobile-836.jpg 836w
            "
            media="(max-width: 767px)"
          />
          <img
            class="team-list__image"
            src="../images/team-alan-mobile-418.jpg"
            alt="Barber Alan"
            sizes="(min-width: 1200px) 33vw, (min-width: 768px) 65vw,  100vw"
          />
        </picture>
        <p class="team-list__name">Alan Black</p>
        <p class="team-list__position">Extreme Barber</p>
        <ul class="socialmedia team-list__socialmedia">
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Инстаграм"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use
                  href="../images/svg-sprite.svg#icon-social-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Твиттер"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Фейсбук"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia__item">
            <a
              class="socialmedia__link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Ссылка на Линкедин"
            >
              <svg class="socialmedia__icon" width="20" height="20">
                <use href="../images/svg-sprite.svg#icon-social-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
